@(formServico: Form[Servico])
@import helper._
@import meuhelper._
@main("Formulário de Serviço") {

<div id="all">
	<div id="content">
		<div class="container">
			<div class="col-md-9">
				<div class="box">
					<meta charset="utf-8">
					<h3>Formulário de Serviços</h3>
					@helper.form(action = routes.ServicosController.salvar()){
					<fieldset>
							<input type="hidden" name="id" value='@formServico("id").value'>
							<div class="col-sm-6">
								<div class="form-group">@meuhelper.inputText("tipo",
									formServico("tipo").value, "Tipo")</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">@meuhelper.inputText("descricao",
									formServico("descricao").value, "Descrição")</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">@meuhelper.inputText("valorServico",
									formServico("valorServico").value, "Valor do Serviço")</div>
							</div>
						</div>
					</fieldset>
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-save"></i> Salvar
						</button>
						<a class="btn btn-primary" href="@routes.ServicosController.lista()"><i
							class="glyphicon glyphicon-remove"></i> Cancelar</a>
					</div>
					} 
				</div>
			</div>
		</div>
	</div>
</div>
}