@(listaPagamentos: List[Pagamento]) @main("Lista de Pagamentos") {
<h2>Todos os Pagamentos</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>item.ativo</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- listaPagamentos) {
		<tr>
			<td>@item.ativo</td>
			<td><a href="@routes.PagamentosController.formulario(item.id)">Editar</a></td>
			<td><a href="@routes.PagamentosController.remover(item.id)"
				onclick="return confirm('Deseja realmente excluir esse pagamento?')">Remover</a></td>
		</tr>
		}
	</tbody>
</table>
<a href="@routes.PagamentosController.novo()"><button>Novo Pagamento</button></a>

}
