@(listaPacote: List[Pacote])
@main("Lista de Pacotes") {

<div class="box">
<div class="table-responsive">
	<meta charset="utf-8">
	<h2>Selecionamos os melhores fornecedores para você!!!</h2></br></br>
	
	<h4>Pacotes contendo todos os serviços para o seu Casamento!</h4>

	@for(item <- listaPacote) {
		<div class="col-sm-4">
			<div class="box same-height clickable">
				<div class="icon">
					<i class="glyphicon glyphicon-heart"></i>
					<i class="glyphicon glyphicon-heart"></i>
					<i class="glyphicon glyphicon-heart"></i>
					<i class="glyphicon glyphicon-heart"></i>
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<h3>
					<a href="@routes.PacotesController.detalhes(item.id)">@item.nome</a>
				</h3>
				@*<h4>
					<p>@item.valorTotal</p>
				</h4>*@
				
				<p>@item.descricao</p>
			</div>
		</div>
	}
	
	</br>

</div>
</div>
}
